# Ambiente Virtual

# Caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches de Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/

# Configurações de editores
.vscode/
.idea/

# Arquivos de Banco de Dados (caso use SQLite local)
*.sqlite3
*.db
